body                { font-size: 75%; font-family: Verdana, Arial, sans-serif; min-width: 920px; padding: 16px; }
#workspace          { float: left; }
#results            { float: right; }
#results h3         { font-size: 1.2em; color: #999; }
#results p          { padding-left: 40px; }
#results p.error    { color: #c00; }
#results p.ok       { color: #0c0; }
#results p.missing  { color: #c90; }
#results p.comment  { color: #ccc; font-style: italic; }
#results p.scenario { font-weight: bold; padding-left: 20px; }