body                { font-size: 75%; font-family: Verdana, Arial, sans-serif; min-width: 920px; padding: 16px; }
#workspace          { float: left; }
#results            { float: right; }
.ramble-feature h3  { font-size: 1.2em; color: #666; margin-bottom:0px; }
.ramble-description { padding-left:20px; margin-top:0px; color:#666; }
.ramble-scenario    { padding-left: 20px; }
.ramble-scenario h4 { margin-bottom:0px; }
.ramble-steps       { list-style-type: none; margin:0; padding:0 0 0 20px; }
.ramble-fail        { color: #c00; }
.ramble-fail em     { color: #f99; }
.ramble-pass        { color: #0c0; }
.ramble-missing     { color: #c90; }
.ramble-comment     { color: #ccc; font-style: italic; }
